.pay-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    .pay-header {
        display: flex;
        & > * + * {
            margin-left: 1rem;
        }
    }

    .pay-body {
        width: 350px;

        form > * + * {
            margin-top: -.4rem;
        }
    }
}