.sell-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-bar-container {
  width: 300px;
  align-self: center;
}

.results-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}